.default
  margin: 0
  padding: 0

.default .socsharing__list
  list-style: none
  margin: 0
  padding: 0
  display: inline-block

.default .socsharing__item
  display: inline-block
  height: 30px
  width: 30px
  margin-right: 5px
  background-size: contain
  vertical-align: top
  background-repeat: no-repeat
  background-position: center
  border-radius: 5px

.default .socsharing__link
  display: block
  height: 100%
  width: 100%
  opacity: 0

/* stylelint-disable function-comma-space-after */
.default .socsharing__item_vk
  background-image: url("/vk.svg#base64")

.default .socsharing__item_tw
  background-image: url("/tw.svg#base64")

.default .socsharing__item_fb
  background-image: url("/fb.svg#base64")

.default .socsharing__item_ok
  background-image: url("/ok.svg#base64")

.default .socsharing__item_mail
  background-image: url("/mail.svg#base64")

.default .socsharing__item_gplus
  background-image: url("/gplus.svg#base64")

.default .socsharing__item_link
  background-image: url("/link.svg#base64")
/* stylelint-enable function-comma-space-after */
